<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/list',book: @book,user: @user %>
    </div>
    <div class="offset-md-1 col-md-8">
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user.id)do %>
                  <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book)%></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </thead>
      </table>
      <p class="center">CopyRight Infratop.inc</p>
    </div>
  </div>
</div>
<style>
  .center{
        margin:50px 0 0 50px;
    }
</style>